@import "vars";
@import "reset";
@import "global";
.header {
  background-image: url("../img/bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 0 93px;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  margin: 0 auto;
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 45px;
  }
  &__list-link {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #ffffff;
    padding-bottom: 5px;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      border-bottom: 1px solid #00b2a0;
    }
  }
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 98px);
  &__title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 200px;
    line-height: 235px;
    letter-spacing: 0.6px;
    color: #0d302c;
    margin-top: auto;
  }
  &__subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: auto;
  }
  &__logo {
    margin-bottom: auto;
  }
}
.about {
  padding: 189px 0 199px;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 120px;
  }
  &__inner-text {
    width: 480px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: $bg;
  }
}
.school {
  padding: 200px 0;
  background-color: #f8f8f8;
}
.school-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 102px;
  &__item {
    width: 350px;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin: 0 auto;
  }
  &__title {
    margin-left: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: 0.6px;
    color: #242121;
  }
  &__text {
    margin-top: 19px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
  }
}
.school-content {
  display: flex;
  &__list {
    margin-bottom: 10px;
  }
  &__box {
    display: flex;
    color: #242121;
    span {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      font-size: 24px;
      line-height: 18px;
      letter-spacing: 0.6px;
      margin-left: 10px;
    }
  }
  &__img {
    margin-bottom: 1px;
  }
  &__subtitle {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
  }
  &__text {
    width: 600px;
    margin-left: auto;
    p {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.6px;
      color: #242121;
      margin-bottom: 30px;
    }
  }
}
.info {
  //background-image: url("../img/info-bg.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
  padding-bottom: 170px;
}
.info-box {
  width: 511px;
  padding-top: 200px;
  margin-right: auto;
  &__title {
    text-align: left;
  }
  &__text {
    width: 507px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    margin-bottom: 30px;
  }
}
.blockquote {
  padding: 81px 0 80px;
  background-color: #f8f8f8;
  &__inner {
    width: 575px;
    margin: 0 auto;
  }
  &__title {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #242121;
    position: relative;
  }
  &__span {
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
    display: flex;
    justify-content: end;
    margin-right: -160px;
  }
}
@import "media";
